/* Add CSS styling here */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Rock+Salt&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Boogaloo", cursive;
}

header,
footer {
  background: lightgray;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  padding: 15px 30px;
  padding-bottom: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 50px 70px;
  padding-top: 30px;
  max-width: 500px;
}

a {
  text-decoration: none;
  display: block;
  color: black;
  background: white;
  border: black 3px solid;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  max-width: 200px;
  box-sizing: border-box;
}

nav a {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: black;
  transition: 0.3;
  background: white;
  font-size: 20px;
  box-sizing: border-box;
  border: black solid 3px;
  border-right: none;
  flex: 1;
  padding-top: 4px;
}

.projects-btn {
  border-right: black solid 3px;
}

.gallery {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.desc,
.main-img {
  width: 670px;
  height: 400px;
  margin: 50px 0;
}

.main-img,
.gallery-img {
  background-position: center;
}

.main-img {
  background: url(https://picsum.photos/670/400);
}

.gallery-img {
  position: relative;
  background: url(https://picsum.photos/300);
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

.gallery-img p {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.desc h2 {
  padding-top: 100px;
  font-size: 2em;
  font-weight: normal;
}

.desc p,
.desc a {
  margin-top: 30px;
}

.desc p {
  font-size: 1.5em;
}

footer a {
  width: 150px;
}

footer a,
footer p {
  text-align: center;
  margin: 0 auto;
}

footer p {
  font-size: 30px;
  margin-bottom: 20px;
}

footer {
  padding: 60px;
}

@media screen and (max-width: 1500px) {
  header h1 {
    text-align: center;
  }
  nav {
    width: 90vw;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .desc {
    width: 80%;
    margin-top: 0;
  }
  .desc h2,
  .desc p {
    text-align: center;
  }
  .desc h2 {
    padding-top: 0;
  }
  .desc a {
    margin: 0 auto;
    margin-top: 30px;
  }
  .main-img {
    margin-bottom: 30px;
  }
  .gallery {
    width: 100vw;
  }
  .gallery-img {
    margin: 0 50px;
  }
}

@media screen and (max-width: 800px) {
  a {
    margin: 0 auto;
  }
  nav {
    width: 50vw;
  }
  nav a {
    flex: auto;
    width: 100%;
    border: black solid 3px;
    border-bottom: none;
  }
  .projects-btn {
    border-bottom: black solid 3px;
  }
  .main-img {
    width: 435.5px;
    height: 260px;
  }
  .gallery-img {
    margin: 0 20px;
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .main-img {
    width: 300px;
    height: 179px;
  }
  .gallery-img {
    margin: 0 10px;
    width: 160px;
    height: 160px;
  }
}

.gallery-img {
  margin-bottom: 100px;
}
